body
{
  color: white;
  background: pink;
}
.heading
{
  width: 80%;
  font-size: 22px;
  font-weight: bold;
  color: #5bc0de;
}
#camera 
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
.nameOfObjects, #resultObjectName  , #resultObjectAccuracy
{
  color: #5bc0de;
}

#preview{
    margin-top: 50px;
    width: 500px;
}